nav > .nav.nav-tabs {
  border: none;
  color: #fff;
  background: #fff;
  border-radius: 0;
}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color: rgb(20, 19, 19);
  background: #fdfdfd;
  border-radius: 0;
}

nav > div a.nav-item.nav-link.active:after {
  content: '';
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #4ed5cd;
}
.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top: 5px solid #4ed5cd;
  border-bottom: 5px solid #4ed5cd;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: #4ed5cd;
  color: #fff;
  border-radius: 0;
  transition: background 0.2s linear;
}

#nav-tabContent {
  padding-top: 10% !important;
}

#nav-signup {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.table {
  margin: 3px 3px;
  border-style: hidden;
  text-align: center;
}
.form-group {
  margin-top: 1rem;
  margin-bottom: 0;
}
.btn-primary {
  color: rgb(20, 19, 19);
  background-color: #dce4e6;
  border-color: #dce4e6;
  margin-bottom: 10% !important;
}
.btn:hover {
  border-color: #dce4e6;
  background: #4ed5cd;
  color: #fff;
}

.errorMsg {
  color: #cc0000;
  margin-top: 1px;
  text-align: left;
}

.titleSignup {
  text-align: center;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

.react-select-container {
  padding: 0px !important;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
